<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>ORDER SQL</comment>
	
	<entry key="A">
		B
	</entry>
	
	<entry key="findAll">
       SELECT 
              ORDER_ID
            , USER_ID
            , PRODUCT_ID
            , ORDER_NO
            , ORDER_DATE
         FROM 
              TB_ORDER
        ORDER 
           BY 
              ORDER_DATE DESC
	</entry>
	
	
	
	<entry key="save">
      INSERT 
        INTO 
             TB_ORDER
      VALUES 
             (
             ?
           , ?
           , ?
           , ?
           , SYSDATE
             )
	</entry>


</properties>