<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>PRODUCT SQL</comment>
	
	<entry key="findAll">
	SELECT 
		   PRD_ID
		 , PRD_NAME
		 , CATEGORY
		 , PRICE
		 , STOCK
	  FROM
		   TB_PRODUCT
	</entry>
	
	<entry key="findById">
	SELECT 
		   PRD_ID
		 , PRD_NAME
		 , CATEGORY
		 , PRICE
		 , STOCK
	  FROM
		   TB_PRODUCT
	 WHERE 
	 	   PRD_ID = ?
	</entry>
	
	<entry key="findByName">
	SELECT 
		   PRD_ID
		 , PRD_NAME
		 , CATEGORY
		 , PRICE
		 , STOCK
	  FROM
		   TB_PRODUCT
	 WHERE 
	 	   PRD_NAME LIKE ?
	</entry>
	
	<entry key="save">
	INSERT
	  INTO 
	  	   TB_PRODUCT
	VALUES 
		   (
		   ?
		 , ?
		 , ?
		 , ?
		 , ?
		   )
	</entry>
	
	<entry key="update">
	UPDATE 
		   TB_PRODUCT
	   SET 
	   	   PRD_NAME = ?
	   	 , CATEGORY = ?
	   	 , PRICE = ?
	   	 , STOCK =?
	 WHERE 
	 	   PRD_ID =?
	</entry>
	
</properties>